// Descriptive color variables
$white: #fff;
$black: #000;
$green: #65A66A;
$red: #de6a6a;
$blue: #569AE8;

// Functional color variables
$color-body: #dbdbdb;
$color-section: #f5f5f5;
$color-nav: #3e3e3b;

// rounded boxes
%border-radius {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

//standard transition effect
%transition {
  -webkit-transition: all 0.5s;
  -moz-transition:    all 0.5s;
  -o-transition:      all 0.5s;
}

// clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//*****************************************************
// GLOBAL
//*****************************************************

body,
textarea,
input {
  background-color: $color-body;
  margin: 0;
  font-family: 'Quattrocento', serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Istok Web', sans-serif;
}

p,
ul,
label,
input,
textarea,
button {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

//*****************************************************
// NAVBAR
//*****************************************************

// fixed navbar
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 90px;
  // background-color: #323232;
  background-color: $color-nav;
}

.nav-bar ul {
  padding-left: 20px;
}

.nav-bar li {
  @extend %transition;
  margin-bottom: 1.1em;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}

.fa-list i {
  color: $white;
  font-size: 2.5em;
}

//*****************************************************
// NAVBAR - TOOLTIPS
//*****************************************************

#Home::before,
#Home::after,
#Portfolio::before,
#Portfolio::after,
#Contact::before,
#Contact::after {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#Home::before,
#Portfolio::before,
#Contact::before {
  text-align: center;
  font-size: 0.9em;
  width: auto;
  height: 40px;
  line-height: 40px;
  color: $white;
  background: $color-nav;
  padding: 0 10px;
  border-radius: .25em;
  left: 100px;
}

#Home::before {
  content: 'Home';
  top: 23px;
}

#Portfolio::before {
  content: 'Portfolio';
  top: 92px;
}

#Contact::before {
  content: 'Contact';
  top: 163px;
}

#Home::after,
#Portfolio::after,
#Contact::after {
  content: '';
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: $color-nav;
  left: 83px;
}

#Home::after {
  top: 33px;
}

#Portfolio::after {
  top: 102px;
}

#Contact::after {
  top: 173px;
}

#Home:hover::before,
#Home:hover::after,
#Portfolio:hover::before,
#Portfolio:hover::after,
#Contact:hover::before,
#Contact:hover::after {
  opacity: 1;
  visibility: visible;
}

#Home:hover::before,
#Portfolio:hover::before,
#Contact:hover::before {
  left: 105px;
}

#Home:hover::after,
#Portfolio:hover::after,
#Contact:hover::after {
  left: 87px;
}

//*****************************************************
// PAGE SECTIONS: ABOUT, PORTFOLIO, CONTACT
//*****************************************************

.content {
  @extend %border-radius;
  background-color: $color-section;
  box-shadow: 0 1px 2px #888;
  margin: 40px 40px 10px 130px;
}

.content-title {
  text-align: center;
  color: #fff;
  padding: 0.5em 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content-title h1 {
  display: inline-block;
  margin: 0.5em 0;
}

#about .content-title {
  background-color: $green;
}

#portfolio .content-title {
  background-color: $red;
}

#contact .content-title {
  background-color: $blue;
}

.left-column,
.right-column {
  display: inline-block;
  width: 40%;
}

.left-column {
  float: left;
  margin: 5em 5% 0;
}

#about .left-column p:first-child,
#contact .left-column p:first-child,
#contact .right-column p:first-child {
  margin-top: 0;
}

#about .right-column {
  text-align: center;
  margin: 5em 5% 8em;
}

#about img {
  height: 200px;
  width: 200px;
  padding: 5px;
  border: 5px solid $green;
  border-radius: 50%;
}

#about ul {
  padding-left: 0;
  margin: 1.9em 0 2.2em;
}

#about ul li {
  @extend %border-radius;
  display: inline-block;
  color: $white;
  background-color: $green;
  font-weight: bold;
  padding: 8px;
  border: 2px solid $green;
  margin-right: 0.4em;
}

#about .left-column,
#portfolio .left-column,
#contact .left-column {
  @extend %clearfix;
}

#portfolio .right-column {
  margin: 5em 5% 3.5em;
}

#portfolio .content img {
  height: auto;
  width: 100%;
  padding: 2px;
  border: 1px solid #888;
}

#portfolio h3 {
  margin: 0 0 0.6em;
}

#portfolio p,
#portfolio ul {
  margin-top: 0.8em;
}

#portfolio ul {
  padding-left: 0;
}

#portfolio ul li {
  @extend %border-radius;
  display: inline-block;
  color: $white;
  background-color: $red;
  font-weight: bold;
  padding: 8px;
  border: 2px solid $red;
  margin-top: 0.4em;
  margin-right: 0.4em;
}

#contact .right-column {
  margin: 5em 5% 17em;
}

#contact form span {
  background-color: $blue;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: -1px;
}

#contact label {
  display: inline-block;
  margin-bottom: 1em;
}

#contact input,
#contact textarea {
  background-color: $color-section;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid $color-nav;
  // margin-bottom: 2em;
  &:focus {
    outline: 0;
  }
}

#contact input.false-input {
  border-bottom: 1px solid red;
}

#contact textarea {
  font-size: 1.2rem;
  resize: none;
}

#contact .warning-message {
  @extend %transition;
  color: red;
  font-size: 0.8em;
  text-align: center;
  margin-top: 2px;
  opacity: 0;
}

#contact button {
  @extend %border-radius;
  @extend %transition;
  color: $white;
  background-color: $blue;
  position: relative;
  padding: 10px 25px;
  border: 1px solid $blue;
  width: 100%;
  &:hover {
    background-color: darken($blue, 30%);
  }
}

#contact a {
  @extend %transition;
  color: $blue;
  &:hover {
    color: darken($blue, 30%);
  }
}

#contact i {
  padding-right: 0.5em;
}

#contact a {
  display: inline-block;
  padding-top: 1.5em;
}

//*****************************************************
// FOOTER
//*****************************************************

#footer {
  color: $color-nav;
  background-color: $color-body;
  text-align: center;
  margin-left: 90px;
}

#footer .left-column,
#footer .right-column {
  position: relative;
  width: 25%;
}

#footer .left-column {
  padding-right: 10px;
  margin: 3.5em 0 1em 24%;
  border-right: 1px solid $color-nav;
}

#footer .right-column {
  margin: 3.5em 24% 1em 0;
}

#footer h3 {
  margin-top: 0;
  margin-bottom: 1.5em;
}

#footer ul {
  padding-left: 0;
}

#footer li {
  text-align: center;
  display: inline-block;
  padding: 0 0.5em;
}

#footer i {
  color: $color-nav;
  &:hover {
    color: $green;
  }
}

#footer .copyright {
  font-size: 0.9em;
  margin: 0;
  padding: 3.4em 0 5px;
}
