//*****************************************************
// GLOBAL
//*****************************************************

body {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 15px;
}



//*****************************************************
// NAVBAR
//*****************************************************

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 90px;
  background-color: #3b3b3b;
  background-color: #323232;
}

.btns {
  background: url('../icons/9-01-tt.jpg');
  background-size: 999% 999%;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  height: 60px;
  width: 60px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.btns span {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: url('../icons/9-01-t.jpg');
  background-size: 999% 999%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition:    opacity 0.5s;
  -o-transition:      opacity 0.5s;
}

#btn1,
#btn1 span {
  background-position: -494px -429px;
}

#btn2,
#btn2 span {
  background-position: -346px -279px;
}

#btn3,
#btn3 span {
  background-position: -116px -429px;
}

.btns:hover span {
    opacity: 1;
}

//*****************************************************
// TITLE-BAR
//*****************************************************

.title-bar {
  background-color: yellow;
  height: 3em;
  padding: 0;
  margin: 0;
}

.title-bar p {
  float: right;
}



//*****************************************************
// PAGE: ABOUT
//*****************************************************

#about-splash {
  background-color: #5F94E8;
  height: 25em;
  text-align: center;
}

#about-splash h1 {
  display: inline-block;
  position: relative;
  color: #FFC65C;
  border: 1px solid #FFC65C;
  top: 50%;
  transform: translateY(-50%);
}

#about-content {
  background-color: #FFC65C;
  height: 35em;
}

//*****************************************************
// PAGE: PORTFOLIO
//*****************************************************

#portfolio-splash {
  background-color: #5F94E8;
  height: 25em;
  text-align: center;
}

#portfolio-splash h1 {
  display: inline-block;
  position: relative;
  color: #FFC65C;
  border: 1px solid #FFC65C;
  top: 50%;
  transform: translateY(-50%);
}

#portfolio-content {
  background-color: #61CF5D;
  height: 35em;
}



//*****************************************************
// PAGE: CONTACT
//*****************************************************

#contact-splash {
  background-color: #5F94E8;
  height: 25em;
  text-align: center;
}

#contact-splash h1 {
  display: inline-block;
  position: relative;
  color: #FFC65C;
  border: 1px solid #FFC65C;
  top: 50%;
  transform: translateY(-50%);
}

#contact-content {
  background-color: #F7EC4F;
  height: 35em;
}
